<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJs Project</title>
    <link href="style.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>

    <div id="app">


        <div id="head">
            <img src="logo-pokemon.svg" alt="Pokémon logo">
        
            <div id="nav">
                <input type="text" placeholder="Search a Pokémon card ..." v-model="name">
                <button @click='search()'>Search</button>
            </div>    
        </div>

        <div id="cards">
            <div class="card" v-for="card in cards">
                <img :src="card.images.small" alt="Pokémon card" class="pokemon-card">
                <p>{{card.name}} {{card.number}}-{{card.set.printedTotal}}</p>
            </div>

        </div>  
    </div>


  <script src="app.js"></script>
</body>

</html>